RAG Agent 2.json
{
  "name": "RAG Agent 2",
  "nodes": [
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -440,
        200
      ],
      "id": "0e22c392-3256-495e-ada1-4e06b99ce0b0",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8M20ipBauiwgmIUJ",
          "name": "aashray.bhagtani@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1sZQsd8hCwmCdo7OjqcS-1TspeDxkKjYH",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1sZQsd8hCwmCdo7OjqcS-1TspeDxkKjYH"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -660,
        200
      ],
      "id": "d0221f97-c8b9-4eb8-86f1-541a3984c300",
      "name": "File Created",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8M20ipBauiwgmIUJ",
          "name": "aashray.bhagtani@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "demo",
          "mode": "list",
          "cachedResultName": "demo"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -200,
        0
      ],
      "id": "e494a43b-39de-479f-a242-b7c8c55e6b8f",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "AFzPllecmRyDeyzK",
          "name": "vector-1"
        }
      }
    },
    {
      "parameters": {
        "modelName": "embed-english-v3.0"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        -220,
        220
      ],
      "id": "acbd1f82-384f-4425-bdca-aee334914ac2",
      "name": "Embeddings Cohere",
      "credentials": {
        "cohereApi": {
          "id": "bsbZLr8KvvYLV2ub",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -100,
        222.5
      ],
      "id": "e4b9b050-e2fd-41d3-ad7c-f843308054f8",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -20,
        420
      ],
      "id": "2e01a7f1-6a96-4260-b4dd-83de8c2bb5ba",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -420,
        860
      ],
      "id": "ecb210c8-826d-4413-9d82-2617b131a82d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -660,
        860
      ],
      "id": "cb0b3d24-ab76-453e-a7b3-561d4b17c1a5",
      "name": "When chat message received",
      "webhookId": "386d341b-1258-47ce-95c8-37b6e57f3e86"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Call this tool to access policy and FAQ database ",
        "pineconeIndex": {
          "__rl": true,
          "value": "demo",
          "mode": "list",
          "cachedResultName": "demo"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -320,
        1082.5
      ],
      "id": "2a784425-1c34-40c5-ae1b-c92ffee2df49",
      "name": "Knowledge Base",
      "credentials": {
        "pineconeApi": {
          "id": "AFzPllecmRyDeyzK",
          "name": "vector-1"
        }
      }
    },
    {
      "parameters": {
        "modelName": "embed-english-v3.0"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        -240,
        1280
      ],
      "id": "d97aded8-1091-4049-a788-73116b562f06",
      "name": "Embeddings Cohere1",
      "credentials": {
        "cohereApi": {
          "id": "bsbZLr8KvvYLV2ub",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-chat-v3-0324:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -440,
        1080
      ],
      "id": "6f0f9bb8-aa67-4e68-b8fb-4651e0180cb7",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "K47ubVdzK4p1yECK",
          "name": "openrouter-1"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "File Created": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        []
      ]
    },
    "Embeddings Cohere": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Knowledge Base": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere1": {
      "ai_embedding": [
        [
          {
            "node": "Knowledge Base",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0cf27fa4-3e4d-4227-8bd8-69d1be730db1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "df499cf08081a1f6e9cea4a646c12be40e953a2e93e0586775f7d86479ffaa74"
  },
  "id": "YK2UtjvXJVXb6iSp",
  "tags": []
}